<%= @user.metadata.inspect %>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <table>
    <% #TODO: Display all metakeys in the available facets, populate any fields where metadata pre-exists %>
    <% @user.metadata.each do |key, value| %>
      <tr>
        <th>
          <%= f.label :"metadata[#{key}]", "#{key}" %>
        </th>
        <td>
          <%= f.text_field :"metadata[#{key}]", :value => "#{value}" %>
          &nbsp;
        </td>
      </tr>
    <% end %>
    </table>
    <%= f.submit %>
  </div>
<% end %>
