<p id="notice"><%= notice %></p>

<%= @user.metadata.each do |key, value| %>
  <table>
    <tr>
      <th><%= key.to_s.humanize %></th>
      <td><%= value %></td>
    </tr>
  </table>
  <% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
